html,
body {
  margin: 0;
  color: #335;
  background: #eee;
  font: sans-serif;
}

body {
  padding: 20px;
}

h1 {
  font-size: 300%;
  margin: 0 auto;
  color: blue;
  font: sans-serif;
  text-align: center;
}

#container {
  width: 800px;
  margin: 0 auto;
  background: #fff;
  border-radius: 14px;
}

footer {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
}





